<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" data-bs-theme="dark">
        <a class="navbar-brand" href="#">Empresa SAC</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/empleados}">Control de empleados</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

            <div class="row justify-content-center">
                <h1>Lista de empleados</h1>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/empleados/nuevo}" type="button" class="btn btn-primary mb-3">Registrar Nuevo</a>
                </div>
            </div>

            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="empleado : ${empleados}">
                    <td th:text="${empleado.nombre}">Nombre</td>
                    <td th:text="${empleado.apellido}">Apellido</td>
                    <td th:text="${empleado.direccion}">Direccion</td>
                    <td th:text="${empleado.email}">Email</td>
                    <td>
                        <a th:href="@{/empleados/editar/{id}(id=${empleado.id})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/empleados/{id}(id=${empleado.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

</body>
</html>